.menu-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  min-height: 90vh;
  width: 100%;

  background-color: aquamarine;
  border: 1px solid black;

  .games-menu-btn {
    height: 10rem;
    width: 10rem;
    border-radius: 1rem;
    margin: auto 5px;
    padding: 10px;
  }

  .games-menu-btn:hover {
    cursor: pointer;
  }
}
