.matching-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 90vh;

  background-color: aqua;
  border: 1px solid black;

  .matching-game-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;

    min-height: 75vh;
    width: 100%;

    background-color: peachpuff;
    border: 1px solid black;
  }

  .card {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 30vh;
    width: 10%;

    padding: 10px;
    margin: 5px 10px;

    background-color: lightgrey;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 10px 5px 5px hsl(0, 82%, 76%);
  }

  .card:hover {
    cursor: pointer;
  }
}

@media only screen and (max-width: 992px) {
  .matching-wrapper {
    .card {
      font-size: 0.6rem;
      min-height: 20vh;
      width: 10%;
      margin: 2px 2px;
      background-size: fill !important;
    }
  }
}

@media only screen and (max-width: 600px) {
  .matching-wrapper {
    .card {
      font-size: 0.6rem;
      min-height: 25vh;
      width: 30%;
      margin: 2px 2px;
      background-size: fill !important;
    }
  }
}
