.nav-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;

  height: 10vh;

  background-color: var(--sonic-blue);
  border: 1px solid black;

  .nav-logo {
    width: 10%;
    min-height: 12vh;
  }

  .nav-btn {
    margin: auto 5px;
    padding: 10px;
    color: var(--sonic-gold);
    background-color: var(--sonic-blue);
    border-radius: 5px;
    border: 1px solid var(--sonic-gold);
  }

  .nav-btn:hover {
    cursor: pointer;
  }

  .greeting-h1 {
    font-size: 2rem;
    color: var(--sonic-gold);
  }
}

@media only screen and (max-width: 600px) {
  .nav-wrapper {
    .greeting-h1 {
      font-size: 1rem;
    }
  }
}
